.article-header{
    position: relative;
    margin-bottom: 0;   
}
.article-header__img{
    width: 100%;
    height: 300px;
}
.article-footer{
    height: 50px;
}
.article-footer__date{
    float: left;
}
.article-footer__social-icon{
    float: right;
}
.social-icon__item{
    display: inline-block;
}