//variables
$bg: #5c94ff;
$color: grey;
$secondary-bg: lighten($bg, 30%);

//font-size

$primary: 16px;
$heading1: $primary+2px;
$heading2: $primary+4px;


//mixins
@mixin center-ver{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
@mixin center-hor{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
@mixin center{
    @include center-ver;
    transform: translate(-50%, -50%);
}
@mixin right{
    position: absolute;
    right: 0;
}
@mixin left{
    position: absolute;
    left: 0;
}
@mixin arrow-down($color,$border-width){
    @include center-hor;
    content: "";
    position: absolute;
    width: 0;
    top: 100%;
    border: $border-width solid transparent;
    border-top-color:$color;
}





//import
@import 'reset';


//Common
.wrapper{
    max-width: 960px;
    margin: 0 auto;
}
h1{
    font-size: 24px;
    color: $color;
}
h2{
    a{
        font-size: null;
        text-transform: uppercase;
        color:$bg; 
    }
}


body{
    font-family: sans-serif;
}
.header{
    margin-bottom: 30px;
}
.header__logo{
    display: block;
    text-align: center;
    height: 50px;
}
.navigation{
    width: 100%;
    height: 40px;
    background: $bg;
    text-align: center;
    box-shadow: 0 2px lighten($bg, 20%);
}
.navigation__navigation_visible{
    position: relative;
    margin: 0 auto;
}
.nav{
    font-size: 0;
}
.nav__item{
    display: inline-block;
    font-size: $heading1;
    a{
        box-sizing: border-box;
        position: relative;
        height: 40px;
        padding: 0 20px;
        display: table-cell;
        vertical-align: middle;
        text-transform: uppercase;
        color: white;
        &:before{
            @include arrow-down(lighten($bg, 20%), 13px);
            display: none;
           
        }
        &:after{
            @include arrow-down(lighten($bg, 10%),10px);
            display: none;
        }
        &:hover{
            background: lighten($bg, 10%);
            &:before, &:after{
                display: block;
            }
        }
    }
}


.navigation__brand{
    display: block;
    position: absolute;
    top: -100px;
    opacity: 0;
    outline: 1px solid red;
    
}
.navigation__brand_active{
    animation: rise .4s linear forwards;
}
@keyframes rise{
    to{
        top: 0px;
        opacity: 1;
    }
}
.navigation__toggle{
    position: relative;
    float: right;
    width: 30px;
    height: 40px;
  
    display: none;
    background: $bg;
    button{
        @include center;
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
        
    }
    span{
        height: 3px;
        width: 24px;
        display: block;
        background: white;
        &+span{
            margin-top: 3px;
        }
    }
}
.navbar-toggle__active{
    &:after{
        @include arrow-down($bg, 10px);
    }
}






aside{
    box-sizing: border-box;
    width: 30%;
    float: right;
    padding-left: 20px;
}

.more{
    
}
main{
    position: relative;
    width: 70%;
    height: 3000px;
}
article{
    header{
        position: relative;
        margin-bottom: 0;
        img{
            width: 100%;
            height: 300px;
        }
        h2{
        border-bottom: 1px solid grey;
        }
    }
    footer{
        height: 50px;
        .date{
            float: left;
        }
        .social-icon{
            float: right;
            li{
                display: inline-block;
            }
        }
    }
}
   
.tags{
    font-size: 0px;
}
.tags__item{
        display: inline-table; 
        margin: 2px 0;
        padding-right: 14px;
        a{
            position: relative;
            display: block;
            margin: 2px 0;
            margin-right: 14px;
            padding: 0 10px;
            line-height: 20px;
            background: $bg;
            color: white;
            font-size: 16px;
            &:after{
                content: "";
                position: absolute;
                right: -20px;
                top: 0;
                border: 10px solid transparent;
                border-left-color: $bg;
            }
            &:before{
                content: "";
                position: absolute;
                @include center-ver;
                z-index: 9997;
                right: -3px;
                height: 6px;
                width: 6px;
                border-radius: 50%;
                background: white;
            }
            &:hover{
                background: lighten($bg, 20%);
                &:after{
                    border-left-color: lighten($bg, 20%);
            }
        }
    }
}



@media screen and (max-width: 1000px){
    
    .wrapper{
        padding: 0 50px;
    }
    aside{
        width: 100%;
    }
    .more__about{
        float: left;
         
    }
    main{
        width: 100%;
        footer{
            .social-icon{
                position: absolute;
                top: 50px;
                right: -50px;
                li{
                    display: block;
                    margin-bottom: 10px;
                }
            }
        }
    }
    
}
@media screen and (max-width: 600px){
    .navigation__toggle{
            display: block;
    }
    .nav{
        width: 100%;
        position: absolute;
        left: 0;
        top: 40px;
        z-index: 9998;
        display: none;
        li{
            display: block;
            width: 100%;
            a{
                display: block;
                line-height: 40px;
                padding: 0;
                width: 100%;
                border-bottom: 1px solid white;
                text-align: center;
                background: $secondary-bg;
                color: $bg;
                &:hover{
                    background: lighten($bg,20%);
                    &:before{
                        display: none;
                    }
                }
                
            }
           
        }
        
    }
    .wrapper{
        padding: 0 10px;    
    }
    aside{
        position: absolute;
        top:50px;
        left:0;
        z-index: 10;
    }
    .more__item{
        position: absolute;
        left: 0;
        top:0;
        z-index: 9999;
        h2{
            box-sizing: border-box;
            border:2px solid $bg;
            height: 40px;
            width: 40px;
            background: lighten($bg, 10%);
            a{opacity: 0;
          }
        }
        p, ul{
            text-align: center;
            box-sizing: border-box;
            width: 100%;
            padding: 10px;
            background: lighten($bg, 20%);
        }
    }
    .more__item:nth-child(2) h2{
        margin-left:  40px;
    }
    .more__item:nth-child(3) h2{
        margin-left:  80px;
    }
    main{
        article{
            position: relative;
        }
        footer{
            .social-icon{
                top: 100%;
                left: 0;
                right: 0;
                font-size: 0;
                li{
                    display: inline-block;
                    width: 20%;
                    font-size: 16px;
                   
                }
            }
        }
    }
    
}

