//variables
$bg: #5c94ff;
$color: grey;



//mixins
@mixin center-ver{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
@mixin center-hor{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
@mixin center{
    @include center-ver;
    @include center-hor;
}


//import
@import 'reset';


//Common

h1{
    font-size: 24px;
    color: $color;
}
h2{
    a{
        color:$bg; 
        text-transform: uppercase;
    }
   
}


body{
    font-family: sans-serif;
}
header{
    margin-bottom: 30px;
}
.brand{
    text-align: center;
    height: 50px;
    a{
        img{
            
        }
    }
}
.navbar{
    width: 100%;
    background: $bg;
    text-align: center;
}
nav{
    max-width: 960px;
    margin: 0 auto;
    height: 40px;
    &>*{
       display: inline-block;
    }
}
.navbar-brand{
     float: left;
}
.navbar-toggle{
     float: right;
}
.collapse{
    height: inherit;
    margin: 0 auto;
    font-size: 0;
    li{
        height: inherit;
        font-size: 16px;
        display: inline-table;
         position: relative;
        a{
            height: inherit;
            text-transform: uppercase;
            display: table-cell;
            vertical-align: middle;
            color: white;
            padding: 0 20px;
           
        }
        &:before{
            content: "";
            border: 10px solid transparent;
            border-top-color:lighten($bg, 10%);
            @include center-hor;
            top: 100%;
            
            display: none;
        }
        &:hover{
            background: lighten($bg, 10%);
            &:before{
                display: block;
            }
        }
        
    }
}
@media screen and (max-width: 1000px){
    .collapse{
        li{
            display: block;
            a{
                text-align: center;
            }
           
        }
    }
}





.wrapper{
    @extend nav;
    height: auto;
}

aside{
    box-sizing: border-box;
    width: 30%;
    float: right;
    padding-left: 20px;
}


main{
    width: 70%;
    height: 3000px;
    article{
        h1{
            border-bottom: 1px solid grey;
        }
        header{
        margin-bottom: 0;
        img{
            width: 100%;
            height: 300px;
        }
    } 
    }
   
    
}
.tagcloud{
    font-size: 0px;
    a{
        padding: 0 10px;
        margin: 2px 0;
        margin-right: 14px;
        display: inline-table;
        line-height: 20px;
        background: $bg;
        color: white;
        font-size: 16px;
        position: relative;
        &:after{
            content: "";
            position: absolute;
            right: -20px;
            top: 0;
            border: 10px solid transparent;
            border-left-color: $bg;
        }
        &:before{
            content: "";
            height: 6px;
            width: 6px;
            border-radius: 50%;
            position: absolute;
            right: -3px;
            @include center-ver;
            z-index: 9999;
            
            background: white;
        }
        
    }
    
}