/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
q:before,
blockquote:after,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: black;
}

.center-vert {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.center-hor {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.center {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

body {
  font-family: sans-serif;
  background: #fff;
}

.brand {
  text-align: center;
}

nav {
  background: #78a0eb;
  height: 50px;
}

.navbar-brand {
  display: none;
}

.navbar-toggle {
  display: none;
}

.collapse {
  height: inherit;
  margin: 0 auto;
  font-size: 0;
}

.collapse li {
  height: inherit;
  font-size: 16px;
  display: inline-table;
  position: relative;
}

.collapse li a {
  height: inherit;
  text-transform: uppercase;
  display: table-cell;
  vertical-align: middle;
  color: white;
  padding: 0 20px;
}

.collapse li:before {
  content: "";
  border: 10px solid transparent;
  border-top-color: #a4bff2;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 100%;
  display: none;
}

.collapse li:hover {
  background: #a4bff2;
}

.collapse li:hover:before {
  display: block;
}

@media screen and (max-width: 1000px) {
  .collapse li {
    display: block;
  }

  .collapse li a {
    text-align: center;
  }
}