.nav {
    min-height: height(3);
    background: color('blue','lighter');
    text-align: center;
    box-shadow: 0 2px color('blue','x-light');
}
.nav__list {
    font-size: 0;
}

.nav__item {
    display: inline-block;
    a{
        box-sizing: border-box;
        position: relative;
        padding: 0 20px;
        display: table-cell;
        @include adjust-font-size-to(18px);
        @include adjust-leading-to(3);
        text-transform: uppercase;
        color: white;
        &:before {
            @include arrow-down(color('blue', 'x-light'), 13px);
            display: none;
        }
        &:after {
            display: none;
        }
        &:hover {
            background: color('blue', 'light');
            &:before,
            &:after {
                display: block;
            }
            &:after{
                @include arrow-down(color('blue', 'light'), 10px);
            }
            
        }
    }
}
.nav__item_active{
    a:before,
    a:after {
        display: block;
    }
    a:after{
        @include arrow-down(color('blue','lighter'), 10px);
    }
}

.nav__toggle{
    position: relative;
    float: right;
    width: 30px;
    height: height(3);
    display: none;
    background: color('blue','lighter');
    button {
        @include center;
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
    }
    span {
        height: 3px;
        width: 24px;
        display: block;
        background: white;
        &+span {
            margin-top: 3px;
        }
    }
}

.navbar-toggle__active {
    &:after {
        @include arrow-down(color('blue','super-x-light'), 10px);
    }
}
