//Colors


$blue-primary: #6794b7;
$blue-nav: #6b9ad0;
$blue-button: #7ca7d9;
$blue-light: #e1eefc;

$grey: #d5dde5;
$color-font: #69747c;
$blue-font: #6290b4;
$blue-border: #c6defa;

$social-background: (
  "fb": #3c5a98,
  "gp": #c25234,
  "tw": #00aced,
  "vk": #48729e,
  "yn": #d83933,
);

//sizing
$nav-height: height(3);
$nav-height-small: 40px;
$wrapper-padding-media1: 60px;
$wrapper-padding-media2: 10px;

//alias

$line: $base-line-height;



