//mixins
@mixin center-ver {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin center-hor {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin center {
    @include center-ver;
    transform: translate(-50%, -50%);
}



@mixin arrow-down($color, $border-width) {
    @include center-hor;
    content: "";
    position: absolute;
    width: 0;
    top: 100%;
    border: $border-width solid transparent;
    border-top-color: $color;
}

//functions

@function height($number:1, $line: $base-line-height){
    @return $number*$line;
}