
.excerpt{
    margin-bottom: height(1.5);
}
.excerpt__title{
    $border-width: 4px;
    position: relative;
    padding-left: height(1.5)+10px;
    border-bottom: $border-width solid $blue-primary;
    line-height: height(1.5) - $border-width;
    @include margin-trailer(1);
    span{
        position: absolute;
        left: 0;
        height: 100%;
        width: height(1.5);
        text-align: center;
        color: white;
        background: $blue-primary;
    }
}
.excerpt__content{
    text-align: justify;
    @include hyphens(none);
}
.tags {
    font-size: 0px;
    
   
}

.tags__item {
    display: inline-block;
    padding-right: 14px;
    
    a{
        position: relative;
        display: block;
        margin-right: 8px;
        padding: 0 10px;
        @include adjust-font-size-to($base-font-size);
        @include adjust-leading-to(1);
        @include margin-trailer(0.5);
        background: $blue-primary;
        color: white;
        &:after {
            content: "";
            position: absolute;
            right: - height();
            top: 0;
            border: height(0.5) solid transparent;
            border-left-color: $blue-primary;
        }
        &:before {
            content: "";
            position: absolute;
            @include center-ver;
            z-index: 1;
            right: -3px;
            height: 6px;
            width: 6px;
            border-radius: 50%;
            background: white;
        }
        &:hover {
            background: $blue-button;
            &:after {
                border-left-color: $blue-button;
            }
        }
    }
}
