article {
    margin-bottom: 60px;
}

.article__header{
    position: relative;
    margin-bottom: 0;
}

.article__img {
    width: 100%;
    height: 230px;
}

.article__title {
    border-bottom: 1px solid grey;
}

.article__info {
    height: 50px;
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
    &>* {
        line-height: 50px;
    }
}

.article__meta {
    float: left;
}

.article__meta>p {
    display: inline-block;
    padding-left: 40px;
    margin-right: 20px;
    
}

.socials {
    float: right;
}

.socials__item {
    display: inline-block;
    vertical-align: middle;
    a {
        display: block;
        width: 40px;
        line-height: 24px;
        border-radius: 3px;
       
        color: white;
        background: lighten(grey, 40%);
        span {
            display: block;
            float: right;
            padding: 0 4px;
        }
        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }
}

.socials__item_fb {
    a:hover {
        background: $facebook;
    }
}

.socials__item_gp {
    
    a:hover {
        background: $gplus;
    }
}

.socials__item_tw {
    a:hover {
        background: $tweeter;
    }
}

.socials__item_vk{
    a:hover {
        background: $vk;
    }
}

.socials__item_yn {
    a:hover {
        background: $yandex;
    }
}



article {
    width: 100%;
}