
.excerpt {
  margin-bottom: height(1.5);
}

.excerpt__title {
  position: relative;
  @include margin-trailer(1);
  padding-left: height(1.5)+10px;
  $border-width: 4px;
  border-bottom: $border-width solid color('blue');
  @include adjust-font-size-to(18px);
  text-transform: uppercase;
  line-height: height(1.5) - $border-width;
  a {
    color: color('blue', 'lighter');
  }
  span {
    position: absolute;
    left: 0;
    height: 100%;
    width: height(1.5);
    text-align: center;
    color: white;
    background: color('blue');
  }
}

.excerpt__content {
  text-align: justify;
  @include hyphens(none);
}

.tags {
  font-size: 0px;
}

.tags__item {
  display: inline-block;
  padding-right: 14px;
  a {
    position: relative;
    display: block;
    margin-right: 8px;
    padding: 0 10px;
    @include adjust-font-size-to($base-font-size);
    @include adjust-leading-to(1);
    @include margin-trailer(0.5);
    background: color('blue');
    color: white;
    &:after {
      content: "";
      position: absolute;
      right: - height();
      top: 0;
      border: height(0.5) solid transparent;
      border-left-color: color('blue');
    }
    &:before {
      content: "";
      position: absolute;
      @include center-ver;
      z-index: 1;
      right: -3px;
      height: 6px;
      width: 6px;
      border-radius: 50%;
      background: white;
    }
    &:hover {
      background: color('blue', 'light');
      &:after {
        border-left-color: color('blue', 'light');
      }
    }
  }
}