//@import libraries
@import 'compass/reset';
@import 'lib/_compass';
@import 'lib/_grids';

//@import mixins & variables
@import 'variables/variables.scss';
@import 'mixins/mixins.scss';

//@import components
@import 'components/navigation';
@import 'components/article';
@import 'components/aside';







a{
    text-decoration: none;
}
h3{
    @include adjust-font-size-to(20px);
    a{
        color: $color-font;
    }
}
h2{
    @include adjust-font-size-to(18px);
    text-transform: uppercase;
    a{
        color: $blue-font;
    }
}

.wrapper {
    @include container;
    
}
aside {
   @include span(2 last);
}

main {
    position: relative;
    @include span(5);
}

//***************************//



.header {
    margin-bottom: 30px;
}

.header__logo {
    display: block;
    text-align: center;
    padding: 16px;
    img {
        height: 56px;
    }
}

.header__navigation {
    width: 100%;
    height: $nav-height;
    background: $blue-nav;
    text-align: center;
    box-shadow: 0 2px $blue-border;
}

.navigation__navigation_visible {
    position: relative;
    margin: 0 auto;
}



.header__logo_additional {
    display: block;
    position: absolute;
    top: -100px;
    opacity: 0;
    outline: 1px solid red;
}

.header__logo_active {
    animation: rise .4s linear forwards;
}

@keyframes rise {
    to {
        top: 0px;
        opacity: 1;
    }
}





















///media
@meddia screen and (max-width: 1000px) {
    .wrapper {
        padding: 0 $wrapper-padding-media1;
    }
    .header {
        margin-bottom: 0;
    }
    main {
        width: 100%;
    }
    aside {
        position: relative;
        width: 100%;
    }
    .aside__item {
        margin-bottom: 30px;
        p {
            position: relative;
            z-index: 2;
            display: none;
        }
        h2 {
            position: absolute;
            top: 2px;
            a {
                white-space: nowrap;
                display: block;
                line-height: 50px;
                padding: 0 40px;
                background: $blue-primary;
            }
        }
    }
    .aside__item_visible {
        p {
            display: block;
        }
    }
    .aside__item_first {
        margin-top: 30px;
    }
    .aside__item_about {
        h2 {
            left: -$wrapper-padding-media1;
            transform-origin: 0 0;
            transform: rotate(-90deg) translateX(-100%);
        }
    }
    .aside__item_shift {
        h2 {
            right: -$wrapper-padding-media1;
            transform-origin: 100% 0;
            transform: rotate(90deg) translateX(100%);
        }
    }
    .aside-article__button {
        position: absolute;
        z-index: 3;
        box-sizing: border-box;
        height: $nav-height;
        top: -$nav-height;
        width: 50px;
        border: 1px solid $blue-primary;
        background: $blue-light;
        cursor: pointer;
        &:before {
            @include arrow-down($blue-button, 13px);
            top: $nav-height;
        }
        &:after {
            @include arrow-down($blue-light, 10px);
        }
    }
    .aside-article__button_about {
        left: -$wrapper-padding-media1;
    }
    .aside-article__button_shift {
        right: -$wrapper-padding-media1;
    }
    .aside-article__button_tags {
        left: -$wrapper-padding-media1+50px;
    }
    .aside__item_tags {
        h2 {
            display: none;
        }
    }
    .social-icon {
        position: absolute;
        top: 0;
        right: -$wrapper-padding-media1;
    }
    .social-icon__item {
        display: block;
        margin-bottom: 10px;
    }
    .facebook {
        background: $facebook !important;
    }
    .gplus {
        background: $gplus !important;
    }
    .tweeter {
        background: $tweeter !important;
    }
    .vk {
        background: $vk !important;
    }
    .yandex {
        background: $yandex !important;
    }
}

@media screen and (max-width: 600px) {
    aside {}
    .aside-article__button {
        height: $nav-height-small;
        width: $nav-height-small;
        &:before {
            top: $nav-height-small;
        }
    }
    .aside-article__button_about {
        left: -$wrapper-padding-media2;
    }
    .aside-article__button_shift {
        left: -$wrapper-padding-media2 + 2* $nav-height-small;
    }
    .aside-article__button_tags {
        left: -$wrapper-padding-media2 + $nav-height-small;
    }
    .aside__item_visible {}
    .wrapper {
        padding: 0 $wrapper-padding-media2;
    }
    .header__logo {
        padding: 4px;
    }
    .navigation__toggle {
        height: 40px;
        display: block;
    }
    .header__navigation {
        height: 40px;
        margin-bottom: 20px;
    }
    .nav {
        position: absolute;
        width: 100%;
        display: none;
        left: 0;
        top: 40px;
        z-index: 9998;
    }
    .nav__item {
        display: block;
        width: 100%;
    }
    /*a{
                display: block;
                line-height: 40px;
                padding: 0;
                width: 100%;
                border-bottom: 1px solid white;
                text-align: center;
                background: $secondary-bg;
                color: $bg;
                &:hover{
                    background: lighten($bg,20%);
                    &:before{
                        display: none;
                    }
                }
                
            }*/
    article {
        position: relative;
        margin-bottom: 100px;
    }
    .article-header__img {
        height: 150px;
    }
    .article-header__title {
        background: #dddddd;
        text-align: center;
        border: none;
    }
    .more__item:nth-child(2) h2 {
        margin-left: 40px;
    }
    .more__item:nth-child(3) h2 {
        margin-left: 80px;
    }
    .social-icon {
        top: 100%;
        left: 0;
        right: 0;
        font-size: 0;
        display: flex;
        justify-content: space-between;
    }
    .social-icon__item {
        foxnt-size: 16px;
        margin-top: 20px;
    }
}






//development
/*body{
    @include debug-vertical-alignment;
}*/

