//mixins
@mixin center-ver {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin center-hor {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin center {
    @include center-ver;
    transform: translate(-50%, -50%);
}

@mixin right {
    position: absolute;
    right: 0;
}

@mixin left {
    position: absolute;
    left: 0;
}

@mixin arrow-down($color, $border-width) {
    @include center-hor;
    content: "";
    position: absolute;
    width: 0;
    top: 100%;
    border: $border-width solid transparent;
    border-top-color: $color;
}